/********général********/

$color-primary: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$background-section-first-color: #f2f2f2;

@mixin sixteen-px {
  font-size: 16px;
  font-weight: 400;
}

@mixin heighteen-px {
  font-size: 18px;
  font-weight: 400;
}

@mixin fiveteen-px {
  font-size: 15px;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin radius15 {
  border-radius: 15px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-section-first-color;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********Header********/

header {

  background-color: #fff;
  padding: 0 23px;
  
  nav {

    width: 100%;
    .header__logo {
      width: 100%;
      
      .header__logo__img {
        padding-right: 14px;
        width: 162px;
        margin-bottom: 14px;
        margin-top: 14px;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  .background__img {
    width: 100%;
    object-fit: cover;
  }

  .slide {
    padding: 0 13px;
    @include flex-column;
    background-color: $background-section-first-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: -32px;

    .menu {
      display: flex;
      margin-top: 40px;
      width: 100%;
      @include flex-column;

      h2 {
        @include sixteen-px;
      }

      hr {
        background-color: $third-color;
        height: 3px;
        width: 40px;
        border: none;
        margin: 10px 0;
      }

      &__dishes {
        gap: 12px;
        display: flex;
        list-style: none;
        flex-direction: column;

        &__content {
          @include radius15;
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          padding: 13px 15px;

          &__text {
            h3 {
              @include heighteen-px;
              font-weight: 700;
            }
            p {
              @include fiveteen-px;
              margin-top: 5px;
            }
          }

          &__price {
            display: flex;
            align-items: flex-end;
            @include fiveteen-px;
            font-weight: bold;
          }
        }
      }
    }

    &__tittle {
      width: 100%;
      max-width: 307px;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;

      button {
        display: flex;
        border: none;
        background-color: $background-section-first-color;

        .fa-solid:hover {
          color: transparent;
          background-image: linear-gradient($color-primary, $second-color);
          background-clip: text;
          -webkit-background-clip: text;
        }
      }

      &__text {
        h1 {
          font-family: "Shrikhand";
          font-size: 28px;
        }
      }
    }
  }
  
  .search {
    &__btn {
      @include sixteen-px;
      padding: 16px 48px;
      border-radius: 25px;
      border: none;
      background: linear-gradient($second-color, $color-primary);
      color: #fff;
      margin-bottom: 40px;
      margin-top: 8px;
    }
  }
}

footer {
  display: flex;
  @include flex-column;
  align-items: none;
  padding: 25px;
  gap: 16px;
  color: #fff;
  background-color: #353535;

  .footer__tittle {
    h3 {
      font-family: "Shrikhand";
      @include heighteen-px;
    }
  }
  .footer__text {
    display: flex;
    @include flex-column;
    gap: 7px;

    p {
      font-weight: 400;
    }

    &__icons {
      display: flex;
      gap: 11px;
      p {
        font-weight: 500;
      }
    }
  }
}
