@use "./mixins";

/********général********/

$color-primary: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$background-section-first-color: #f2f2f2;


* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-section-first-color;
  @media (min-width: 1024px){
    background-color: #fff;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********Header********/

header {

  background-color: #fff;
  padding: 0 23px;
  
  nav {
    width: 100%;
    
    .back__home{
      width: 40px;
      height: 40px;
      .fa-solid{
        font-size: 17px;
      }
    }
    .header__logo {
      width: 100%;
      
      .header__logo__img {
        padding-right: 14px;
        width: 162px;
        margin-bottom: 14px;
        margin-top: 14px;
        @media (min-width: 1024px){
          width: 200px;
          margin-bottom: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px){
    align-items: center;
  }
  .background__img {
    height: 275px;
    width: 100%;
    object-fit: cover;
  }

  .slide {
    padding: 0 13px;
    background-color: $background-section-first-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    bottom: 55px;
    @media (min-width: 1024px){
      padding: 0;
      width: 100%;
      max-width: 1055px;
      @include mixins.flex-column;
      align-items: center;
    }
    .menu {
      display: flex;
      margin-top: 40px;
      width: 100%;
      @include mixins.flex-column;
      @media (min-width: 1024px){
        max-width: 634px; 
      }

      h2 {
        @include mixins.sixteen-px;
        font-weight: lighter;
      }

      hr {
        background-color: $third-color;
        height: 3px;
        width: 40px;
        border: none;
        margin: 10px 0;
      }

      &__dishes {
        gap: 12px;
        display: flex;
        list-style: none;
        flex-direction: column;

        &__content {
          @include mixins.radius15;
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          padding: 13px 15px;

          &__text {
            h3 {
              @include mixins.heighteen-px;
              font-weight: 700;
            }
            p {
              @include mixins.fiveteen-px;
              margin-top: 5px;
            }
          }

          &__price {
            display: flex;
            align-items: flex-end;
            @include mixins.fiveteen-px;
            font-weight: bold;
          }
        }
      }
    }

    &__tittle {
      width: 100%;
      max-width: 307px;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;

      button {
        display: flex;
        border: none;
        background-color: $background-section-first-color;
        
        &:hover {
          .fa-solid {
            z-index: 1;
          }
        }
        i {
          position: absolute;
          width: 20px;
        }
        
        .fa-solid {
          z-index: -1;
          
          &::before {
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient($color-primary, $second-color);
          }
        }
        
      }

      &__text {
        h1 {
          font-family: "Shrikhand";
          font-size: 28px;
        }
      }
    }
  }
  
  .search {
    &__btn {
      @include mixins.sixteen-px;
      padding: 16px 48px;
      border-radius: 25px;
      border: none;
      background: linear-gradient($second-color, $color-primary);
      color: #fff;
      margin-top: 40px;
      
      @media (min-width: 1024px){
        margin-bottom: 40px;
      }
    }
  }
}

footer {
  display: flex;
  @include mixins.flex-column;
  padding: 25px;
  gap: 16px;
  color: #fff;
  background-color: #353535;
  @media (min-width: 1024px){
    margin-top: -55px;
    flex-direction: row-reverse;
  }
  .footer__tittle {
    h3 {
      font-family: "Shrikhand";
      @include mixins.heighteen-px;
    }
  }
  .footer__text {
    display: flex;
    @include mixins.flex-column;
    gap: 7px;
    @media (min-width: 1024px){
      flex-direction: row;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
    }

    p {
      font-weight: 400;
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 11px;

      .fa-utensils {
        width: 12px;
        height: 13px;
      }

      .fa-handshake-angle {
        width: 12px;
        height: 13px;
      }
      
      p {
        font-weight: 500;
      }
    }
  }
}

