/********général********/

$color-primary: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$background-section-first-color: #d2d2d2;

@mixin sixteen-px {
  font-size: 16px;
  font-weight: 400;
}

@mixin flex-column {
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/********Header********/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .header__logo {
    width: 162px;
    margin-bottom: 14px;
    margin-top: 14px;
  }
}

.location {
  background-color: #eaeaea;
  &__info {
    gap: 17px;
    margin: 15px 0;
    h2 {
      color: #353535;
      @include sixteen-px;
    }
  }
}

.explorer {
  flex-direction: column;
  text-align: center;
  background-color: $background-section-first-color;
  padding: 0 30px;
  &__btn {
    @include sixteen-px;
    padding: 13px 19px;
    border-radius: 25px;
    border: none;
    background: linear-gradient($second-color, $color-primary);
    color: #fff;
    margin-bottom: 57px;
    margin-top: 27px;
  }
  h1 {
    max-width: 275px;
    margin-top: 43px;
  }
  p {
    font-size: 17px;
    font-weight: lighter;
    margin-top: 10px;
  }
}

.fonctionnement{
    @include flex-column;
    padding: 0 20px;
    &-btn {
        display: flex;
        width: 100%;
        @include sixteen-px;
        .number {
            background: $color-primary;
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }
        
    }
}
